<%= form_for(@discount) do |f| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Imagen de la promoción" %><br>
    <%= f.file_field :avatar, as: :file %>
  </div>
  <div class="field">
    <%= f.label "Titulo" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Precio (sin descuento)" %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label "Precio (con descuento)" %><br>
    <%= f.number_field :final_price %>
  </div>
  <div class="field">
    <%= f.label "Detalle (Opcional)" %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
