<br />
<div>
    <%= search_form_for @q do |f| %>
  
    <%= f.label "Producto" %>
    <%= f.search_field :title_cont %>
  
    <%= f.submit "Buscar" %>
  
    <% end %>
</div>
<h1>Botilleria Sin Envidia</h1>
<p>Salvador Gutiérrez 5801, Quinta Normal, Santiago, Región Metropolitana</p>
<h3>(2) 2786 2700</h3>
<!--
              <ul>
                <li>Tenemos Whatsapp</li>
              </ul>
              <ul>
                <li>Puedes Llamarnos</li>
              </ul>
-->
  <% if current_user.try(:admin?) %>
  <hr />    
  <%= link_to "Nuevo descuento", new_discount_path, role: 'button', class: 'btn btn-success btn-xs' %>     
  <% end %>
  <hr />
  <div class="row">
    <% @discounts.each do |disscount| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag attachment_url(disscount, :discount_image, :fill, 300, 300, format: "jpg") %>
          <div class="caption">
            <h3><%= disscount.title %></h3>
            <strike>$<%= disscount.price %></strike>
            <h3>$<%= disscount.final_price %></h3>
            <p>
              <%= link_to "Ver", disscount, :class => "btn btn-warning" %>
              <% if current_user.try(:admin?) %>
                <%= link_to "Editar", edit_discount_path(disscount), :class => "btn btn-warning" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>