<h1>La pica de la Rut</h1>
<h3>+56975307388</h3>
              <ul>
                <li>Tenemos Whatsapp</li>
              </ul>
              <ul>
                <li>Puedes Llamarnos</li>
              </ul>
            
  <hr />
  <div class="row">
    <% @discounts.each do |disscount| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag disscount.avatar %>
          <div class="caption">
            <h3><%= disscount.title %></h3>
            <strike>$<%= disscount.price %></strike>
            <h3>$<%= disscount.final_price %></h3>
            <p>
              <%= link_to "Ver", disscount, :class => "btn btn-warning" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>