<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <hr />
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <%= image_tag(@discount.avatar.url, class: "img-responsive") if @discount.avatar? %>
          </a>
        </div>
        <div class="col-md-5">
          <h3><%= @discount.title %></h3>
          <strike>$<%= @discount.price %>.-</strike>
          <h2>$<%= @discount.final_price %>.-</h2>
          <h4>LISTO!! YA TIENES TU DESCUENTO. MUESTRA ESTA IMAGEN EN EL MESON</h4>
          <%= link_to "Volver", discounts_path, :class => "btn btn-warning" %>
        </div>
      </div>

      <!-- /.row -->
      
    </div>
