<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <hr />
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <%= image_tag attachment_url(@discount, :discount_image, :fill, 300, 300, format: "jpg") %>
          </a>
        </div>
        <div class="col-md-5">
          <h3><%= @discount.title %></h3>
          <strike>$<%= @discount.price %>.-</strike>
          <h2>$<%= @discount.final_price %>.-</h2>
          <p><%= @discount.detail %></p>
          <%= link_to "Volver", discounts_path, :class => "btn btn-warning" %>
        </div>
      </div>

      <!-- /.row -->
      
    </div>
